@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    @*<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">*@
    <link href="~/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template -->
    @*<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">*@
    <link href="~/all.min.css" rel="stylesheet" />
    @*<link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">*@
    <link href="~/simple-line-icons.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- Custom styles for this template -->
    @*<link href="css/landing-page.min.css" rel="stylesheet">*@
    <link href="~/landing-page.min.css" rel="stylesheet" />
    @*<link href="css/landing-page.css" rel="stylesheet">*@
    <link href="~/landing-page.css" rel="stylesheet" />

    <style>
        .scroll_ex3 {
            background-color: #fff;
            width: 100%;
            height: 700px;
            overflow: scroll;
        }
    </style>

</head>

<body>

    <!-- Navigation -->
    <nav class="nav_list navbar navbar-light bg-light static-top">
        <div class="container">
            <ul>
                <li><a href="~/Picker/Index">Home</a></li>
                <li><a class="active" href="~/Picker/Orders">Orders</a></li>
                @*<li><a onclick="PickerPick()" href="javascript:void(0);">Pick</a></li>*@
                <li><a href="#">Profile</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="LogOut">Logout</a></li>
            </ul>

        </div>
    </nav>

    <!-- Row -->
    <div class="container scroll_ex3 pull-left table">

        <table class="scroll_ex3">
            <thead>
                <tr>

                    <th>
                        Select<br />Order no
                    </th>
                    <th>
                        Items
                    </th>
                    <th>
                        Order Status
                    </th>

                </tr>
            </thead>
            @foreach (var Orders in ViewBag.OrderList as IEnumerable<DotIt.AutoPicker.Models.OrderHeadModel>)
            {

                <tr>
                    <td>
                        <input id="CheckBoxCount" onchange="TotalLineItems(@Orders.TotalLines,@Orders.OrderNum,this)" type="checkbox" height="150" width="150" /> @Orders.OrderNum
                    </td>
                    <td>
                        @Orders.TotalLines
                    </td>
                    <td>
                        @if (Orders.OrderPickStatus != null)
                        {

                            @Orders.OrderPickStatus

                        }
                        else
                        {
                            <span>General orders</span>

                        }
                    </td>


                </tr>
            }
        </table>
    </div>
   
    <h3 id="NextButton"><a class="btn-spc-top-40 " href="javascript:void(0);" onclick="OnNextButton()">Pick  Item</a> </h3>
    <div id="OrderSummary1">

    </div>
    <table class="table mb-0">
        <thead class="bg-light">
            <tr>
                <th scope="col" class="border-0">Order No</th>               
            </tr>
        </thead>
        <tbody id="OrderSummary"></tbody>
    </table>


    <!-- Bootstrap core JavaScript -->
    @*<script src="vendor/jquery/jquery.min.js"></script>*@
    <script src="~/jquery.min.js"></script>
    @*<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>*@

</body>
</html>
<script>
    function PickerPick() {

        $.ajax({
            url: "../../Picker/PickLineItem",
            type: "Post",
            success: function (response) {
                debugger;
                if (response == "First Click on Orders") {
                    alert(response);
                }
                if (response == "Orders Haved") {
                    window.location.href = "../../Picker/Pick?Ordernum";
                }


            }
        });
    }

    var TotalCount = 0;
    var arrMyPickingItems = [];
    var updateArrayList = [];


    function TotalLineItems(TotalOrderLine, OrderNum, ctrl) {
        if (ctrl.checked) {
            TotalCount = TotalCount + TotalOrderLine;
            arrMyPickingItems.push(OrderNum);           
        }
        else {
            var indexno = arrMyPickingItems.indexOf(OrderNum);           
            delete arrMyPickingItems[indexno];  
            TotalCount = TotalCount - TotalOrderLine;
        }

        if (TotalCount > 50) {
            ctrl.checked = false;
            arrMyPickingItems.pop(OrderNum);
            TotalCount = TotalCount - TotalOrderLine;
            alert("Order is Heavy (greater Then 50) ");
        }
        $('#NextButton').html('<a class="btn-spc-top-40 " href="javascript:void(0);" onclick="OnNextButton()">Picked ' + TotalCount+' Item</a>');
        
       
        
    }
    var BindTabelsRows = function (Data) {
        if (Data.length > 0)
        {
            //var response = Data.split(",");
            $('#OrderSummary').html("");
            var tr = "";
            var Index = 1;
            for (var i = 0; i < Data.length; i++) {
                tr += '<tr>' +
                    '<td>' + response[i] + '</td>' +                                 
                    '</tr> ';
                Index++;
            }
            $('#OrderSummary').html(tr);
        }
       
    };
    function OnNextButton() {
        if (TotalCount > 0) {
           
            //window.location.href = "../../Picker/Pick";
            var data = arrMyPickingItems;
            //alert(JSON.stringify({ "Data": JSON.stringify(data) }));
            window.location.href = "../../Picker/Pick?Orders=" + JSON.stringify({ "Data": JSON.stringify(data)});
            //$.ajax({
            //    url: "../../Picker/Pick",
            //    type: "Post",
            //    data: {
            //        "Ordernum": myArray
            //    },
            //    success: function (response) {
            //        debugger;
            //        alert("true");
            //    }
            //});
        }
        else { alert("Plz Select Orders"); }

    }

</script>
