@model DotIt.AutoPicker.Models.PickerModel
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<h4>Picker Profile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ProfileChanges" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DcdUserID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EMailAddress.ToString()" class="control-label"></label>
                <input asp-for="EMailAddress" class="form-control" />
                <span asp-validation-for="EMailAddress" class="text-danger"></span>
            </div>
            <div class="form-group form-check">

                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Company" /> @Html.DisplayNameFor(model => model.Company)
                </label>
            </div>
            @*<div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Pickdotit" /> @Html.DisplayNameFor(model => model.Pickdotit)
                </label>
            </div>*@
            <div class="form-group">
                <label asp-for="MaxLines" class="control-label"></label>
                <input asp-for="MaxLines" class="form-control" />
                <span asp-validation-for="MaxLines" class="text-danger"></span>
            </div>
            <div class="form-group" style="visibility:hidden;display:none">
                <label asp-for="MaxWeight" class="control-label"></label>
                <input asp-for="MaxWeight" class="form-control" />
                <span asp-validation-for="MaxWeight" class="text-danger"></span>
            </div>
            <div class="form-group" style="visibility:hidden;display:none">
                <label asp-for="AdminlineperHour" class="control-label"></label>
                <input asp-for="AdminlineperHour" class="form-control" />
                <span asp-validation-for="AdminlineperHour" class="text-danger"></span>
            </div>
            <div class="form-group" style="visibility:hidden;display:none">
                <label asp-for="Grouplist" class="control-label"></label>
                <input asp-for="Grouplist" class="form-control" />
                <span asp-validation-for="Grouplist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save changes" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

