@model DotIt.AutoPicker.Models.PickerModel
@*@{
        //Layout = null;
    }*@
@{
    ViewData["Title"] = "AddProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
    <script src="~/jquery.min.js"></script>
    <link href="~/bootstrap.min.css" rel="stylesheet" />
    <style>
        .PickerTable {
            max-width: 75%;
            align-content: center;
        }

        thead {
            text-align: center;
            font-size: xx-large;
        }

        tbody th {
            text-align: right;
        }

        tbody td {
            text-align: left;
        }
    </style>
</head>
<body>
    <div class="container">
        @*<div>
                <span><h3>Pickers</h3></span>
                <p style="margin-top: -41px;text-align: -webkit-right;">
                    User: @ViewBag.UserName  |
                    <a href="~/Admin/LogOut/@ViewBag.LogInName">LogOut</a>
                </p>
            </div>*@
        <table class="PickerTable">
            <thead>
                <tr>
                    <th colspan="2" align="center">Picker Information</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th align="right">Name :</th>
                    <td>
                       
                        <input type="text" class="emprole" name="Name" id="NameTextBox"  />
                    </td>
                </tr>
                <tr>
                    <th align="right">Email :</th>
                    <td>
                        <input type="text" name="Email" id="EmailTextBox" class="emprole" value="" />
                    </td>
                </tr>

                <tr>
                    <th align="right">Max Lines :</th>
                    <td>
                        <input type="number" name="TxtMaxLines" id="TxtMaxLines" class="emprole" value="" />
                    </td>
                </tr>
                <tr>
                    <th align="right">Max Weight :</th>
                    <td>
                        <input type="number" name="TxtMaxWeight" id="TxtMaxWeight" class="emprole" value="" />
                    </td>
                </tr>
                <tr>
                    <th align="right">Adminlineper Hour :</th>
                    <td>
                        <input type="number" name="TxtAdminLinePerHour" id="TxtAdminLinePerHour" class="emprole" value="" />
                    </td>
                </tr>
                <tr>
                    <th align="right">User Height :</th>
                    <td>
                        <input type="text" name="TxtUserHeight" id="TxtUserHeight" class="emprole" value="" />
                    </td>
                </tr>
                <tr style="display:none;">
                    <th align="right">Weight Capacity :</th>
                    <td>
                        <input type="number" name="TxtWeightCapacity" id="TxtWeightCapacity" class="emprole" value="" />
                    </td>
                </tr>
                <tr>
                    <th align="right">Role :</th>
                    <td>
                       
                    </td>
                </tr>
                <tr>
                    <td> <button class="btn-info-grey" onclick="Cancel()">CANCEL</button></td>
                    <td>
                        <button class="btn-style-grey" style="margin-left:10px" onclick="AddProfile()">SAVE</button>
                    </td>
                </tr>
            </tbody>
        </table>


        <br /><br />


    </div>

    <script>
        @*$("select option[value='@ViewBag.EmployeeDetails.Role']").attr("selected", "selected");
        if ('@ViewBag.EmployeeDetails.Pickncco'== "True") {
            $("#NCCOCheckbox").prop('checked', true);
        }
        if ('@ViewBag.EmployeeDetails.Pickdotit'== "True") {
            $("#DotItCheckbox").prop('checked', true);
        }*@
        var AddProfile = function () {
            debugger;
            var name = $("#NameTextBox").val();
            var email = $("#EmailTextBox").val();
            var role = $("#RoleSelect").children("option:selected").val();
            var NCCO = $("#NCCOCheckbox").prop("checked");
            var DotIt = $("#DotItCheckbox").prop("checked");
            var maxLines = $("#TxtMaxLines").val();
            var maxWeight = $("#TxtMaxWeight").val();
            var LinesPerHour = $("#TxtAdminLinePerHour").val();
            var dcdUserID = $("#DcdUserID").val();
            var UserHeight = $("#TxtUserHeight").val();
            var WeightCapacity = '';// $("#TxtWeightCapacity").val();
            //var Id =model.Empid;
            var Id = "";
            $.ajax('../../Admin/AddProfileData',
                {
                   
                    data: {
                        Empid:Id,
                        Name: name,
                        EMailAddress: email,
                        Grouplist: role,
                        Pickncco: NCCO,
                        Pickdotit: DotIt,
                        MaxLines: maxLines,
                        MaxWeight: maxWeight,
                        AdminlineperHour: LinesPerHour,
                        DcdUserID: dcdUserID,
                        UserHeight: UserHeight,
                        WeightCapacity: maxWeight
                    },
                    success: function (result) {
                        console.log(result);
                        if (result == "Profile Add") {
                            alert("Profile Add");
                            window.location.href = "/Admin/Home";
                        }
                    }, error: function (errorMsg)
                    {
                        console.log(errorMsg);
                    }
                })
        }
    </script>
</body>
</html>

