@model DotIt.AutoPicker.Models.AuthenticateModel

@{
    Layout = null;
}
<html>
<head>
    <!-- Bootstrap core CSS -->
    @*<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">*@
    <link href="~/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template -->
    @*<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">*@
    <link href="~/all.min.css" rel="stylesheet" />
    @*<link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">*@
    <link href="~/simple-line-icons.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- Custom styles for this template -->
    @*<link href="css/landing-page.min.css" rel="stylesheet">*@
    <link href="~/landing-page.min.css" rel="stylesheet" />
    @*<link href="css/landing-page.css" rel="stylesheet">*@
    <link href="~/landing-page.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="limiter">
        <div class="container" style="width:30%">
            <div class="wrap-login100">

                <h1 class="text-grey">Welcome!</h1>


                <div class="form-group">
                    <label for="UserName">User Id:</label>
                    <input class="form-control" id="Username" name="UserName" type="text" />
                    <span id="spanforusername"></span>
                </div>
                @*<div class="form-group">
                        <label for="Password">Password:</label>
                        <input type="password" id="Password" name="Password" class="form-control" />
                        <span id="spanforpassword"></span>
                    </div>*@
                <div>
                    <div>
                        <div><span class="text-danger" id="spnLoginError"></span></div>
                        <button type="button" onclick="Login()" class="btn btn-block bg-blue">Login</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>
<script>
    var Login = function () {
        $('#spnLoginError').html("");
        var username = $("#Username").val();
        //console.log(username);
        //var password = $("#Password").val();
        $.ajax('../../Admin/Login', {
            type: 'POST',
            data: {
                UserName: username
                // Password: password
            },
            success: function (result) {
                var jsonResponse = result;//JSON.parse(result);
               
                if (!jsonResponse.success) {
                    $('#spnLoginError').html(jsonResponse.response);
                    return;
                }
                //console.log('jsonResponse.UserDisabled=' + jsonResponse.UserDisabled);
                jsonResponse = JSON.parse(jsonResponse.response);
                if (jsonResponse.Active == true) {
                    var selectedRight = [];
                    var RoleArray = [];
                    RoleArray = jsonResponse.Grouplist.split('~');
                    for (var i = 0; i < RoleArray.length; i++) {
                        switch (RoleArray[i]) {
                            case "WHSE":
                                selectedRight.push("WHSE");
                                break;
                            case "WHSEMGR":
                                selectedRight.push("WHSEMGR");
                                break;
                        }

                    }
                    console.log(RoleArray);

                    if (selectedRight.length == 2) {
                        window.location.href = '../../Admin/Home/';
                    }
                    for (var j = 0; j < selectedRight.length; j++) {
                        switch (selectedRight[j]) {
                            case "WHSE":
                                window.location.href = '../../Picker/Index/';
                                break;
                            case "WHSEMGR":
                                window.location.href = '../../Admin/Home/';
                                break;
                        }
                    }
                }
              

            }
        })
    }
</script>
