@model DotIt.AutoPicker.Models.AuthenticateModel

@{
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="limiter">
        <div class="container" style="width:30%">
            <div class="wrap-login100">
                
                    <h1>Welcome</h1>
                
                
                    <div class="form-group">
                        <label for="UserName">UserName:</label>
                        <input class="form-control" id="Username" name="UserName" type="text" />
                        <span id="spanforusername"></span>
                    </div>
                    @*<div class="form-group">
                        <label for="Password">Password:</label>
                        <input type="password" id="Password" name="Password" class="form-control" />
                        <span id="spanforpassword"></span>
                    </div>*@
                    <div>
                        <div>
                            <div><span class="text-danger"></span></div>
                            <button type="button" onclick="Login()" class="btn btn-default btn-block">Login</button>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
</body>

</html>
<script>
    var Login = function () {
        var username = $("#Username").val();
        console.log(username);
        //var password = $("#Password").val();
        $.ajax('../../Admin/Login', {
            type: 'POST',
            data: {
                UserName: username
               // Password: password
            },
            success: function(result) {
                if (result == 'username wrong') {
                    $("#spanforusername").text('Invalid Username');
                }
                if (result == 'password wrong') {
                    $("#spanforpassword").text('Invalid Password');
                }
                if (result == 'success') {
                    window.location.href = '../../Admin/Home/';
                }
            }
        })
    }
</script>
