<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DotitBllDal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DotitBllDal.Properties.Settings.EpicorTest10ConnectionString"
            connectionString="Data Source=DOTITSQL;Initial Catalog=EpicorTest10;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DotitBllDal.Properties.Settings.DotitExtensionConnectionString"
            connectionString="Data Source=DOTITSQL;Initial Catalog=DotitExtension;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DotitBllDal.Properties.Settings.Epicor10ConnectionString"
            connectionString="Data Source=dotitsql;Initial Catalog=Epicor10;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DotitBllDal.Properties.Settings.EpicorTest10ConnectionString1"
            connectionString="Data Source=DOTITSQL;Initial Catalog=EpicorTest10;Persist Security Info=True;User ID=DotitReader"
            providerName="System.Data.SqlClient" />
        <add name="DotitBllDal.Properties.Settings.MOM_DIConnectionString"
            connectionString="Data Source=DOTITSQL;Initial Catalog=MOM-DI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DotitBllDal.Properties.Settings.ERP102ConnectionString"
            connectionString="Data Source=dotitsql;Initial Catalog=ERP102;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <DotitBllDal.Properties.Settings>
            <setting name="keepAliveMax" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="DotitBllDal_UPSTracking_TrackService" serializeAs="String">
                <value>https://onlinetools.ups.com/webservices/Track</value>
            </setting>
            <setting name="DotitBllDal_UPSShip_ShipService" serializeAs="String">
                <value>https://onlinetools.ups.com/webservices/Ship</value>
            </setting>
            <setting name="DotitBllDal_UPSRate_RateService" serializeAs="String">
                <value>https://onlinetools.ups.com/webservices/Rate</value>
            </setting>
            <setting name="DotitBllDal_UPSAddressVerification_XAVService"
                serializeAs="String">
                <value>https://wwwcie.ups.com/webservices/XAV</value>
            </setting>
            <setting name="DotitBllDal_Endicia_EwsLabelService" serializeAs="String">
                <value>https://labelserver.endicia.com/LabelService/EwsLabelService.asmx</value>
            </setting>
        </DotitBllDal.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
