<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="EpicorDaily.Properties.Settings.DotitExtensionConnectionString" connectionString="Data Source=dotitsql;Initial Catalog=DotitExtension;Persist Security Info=True;User ID=DotitReader" providerName="System.Data.SqlClient" />
    <add name="DotitExtensionEntities" connectionString="metadata=res://*/Persistance.Data.DoitExtension.csdl|res://*/Persistance.Data.DoitExtension.ssdl|res://*/Persistance.Data.DoitExtension.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dotitsql;initial catalog=DotitExtension;persist security info=True;user id=DotitReader;password=mFaS2Nbk-2ZA;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="EpicorDaily102.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{d-MMM HH:mm:ss}  %m %n" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %m %n" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DotitPartnerSoap" />
        <binding name="DotitOrdersSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:54104/DotitOrders-v1.asmx" binding="basicHttpBinding" bindingConfiguration="DotitOrdersSoap" contract="WSOrder.DotitOrdersSoap" name="DotitOrdersSoap" />
      <endpoint address="http://localhost:54104/DotitPartner-v1.asmx" binding="basicHttpBinding" bindingConfiguration="DotitPartnerSoap" contract="WSPartner.DotitPartnerSoap" name="DotitPartnerSoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Epicor.ServiceModel" publicKeyToken="37a5ccb872c00aec" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.300.0" newVersion="3.2.300.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>